body, html {
    margin: 0;
    font-family: Times New Roman;
    background-color: yellowgreen;
}
.content {
    margin: 0 auto;
    width: 400px;
}
table, td, th {
    border: 4px solid #aaa;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    height: 40px;
}
td {
    text-align: center;
    padding: 5px;
}
.form {
    margin-top: 20px;
}
#content {
    width: 70%;
}
h1{
    color: blue;
    font-size: 200%;
}
input{
    margin-bottom: 10px;
    color: blue;
}